* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
}


h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wishes {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #666;
    padding:40px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 400px;
    width: 100%;
}

.card {
    position: relative;
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #272121;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
    
}

.card:hover {
    transform: scale(1.05);
}

/* Kolorowe kafelki z lokalnymi obrazami */
#card1 { background-image: url('surprise.png'); }
#card2 { background-image: url('surprise.png'); }
#card3 { background-image: url('surprise.png'); }
#card4 { background-image: url('surprise.png'); }

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.countdown {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.content {
    font-size: 1.1em;
}

.hidden {
    display: none;
}
